fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
requests==2.31.0
supabase==2.4.3
httpx
beautifulsoup4
python-dotenv
bcrypt==3.2.2
python-jose[cryptography]
passlib[bcrypt]
rapidfuzz==3.10.1
google-generativeai
supabase
